.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  background-color: #c54334 !important;
}



.search-bar-form{
  position: relative;
}

.auto-complete{
  position: absolute;
  padding-inline-start: 0;
  margin-bottom: 0;
  top: 38px;
  right: 80px;
  width: 400px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
}

.auto-complete ul{
  padding-inline-start: 10px;
  margin-block-end: 10px;
}
.auto-complete li{
  list-style-type: none;
  text-align: left;
}
.search-bar {
  width: 400px !important;
}


@media (max-width: 768px) {

  .navbar-links li{
    text-align: left;
  }
  .search-bar {
    width: 300px !important;
  }

  .auto-complete{
    position: absolute;
    padding-inline-start: 0;
    margin-bottom: 0;
    top: 46px;
    left: 1px;
    width: 300px !important;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
  }

 }

 .single-boardgame {
   height: 33vh;
 }

 .single-boardgame img {
   height: 70%;
 }
 .single-boardgame h3 {
  font-size: 1.2em;
}
.single-boardgame h5 {
  font-size: 1em;
}

.homepage-banner{
  text-align: left;
}


