.App {
  text-align: center;
}

/body {
  background-color: rgb(241, 241, 241)
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  background-color: #c54334 !important;
}



.search-bar-form{
  position: relative;
}

.auto-complete{
  position: absolute;
  padding-inline-start: 0;
  margin-bottom: 0;
  top: 38px;
  right: 80px;
  width: 300px !important;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: white;
  z-index: 5;
}

.auto-complete ul{
  padding-inline-start: 10px;
  margin-block-end: 10px;
}
.auto-complete li{
  list-style-type: none;
  text-align: left;
  text-decoration: underline;
}
.search-bar {
  width: 300px !important;
}

 .single-boardgame {
   height: 40vh;
   border: 1px solid rgb(228, 225, 225);
   border-radius: 5px;
   margin: 5px;
   padding-top: 10px;
 }

 .single-boardgame img {
   height: 70%;
 }
 .single-boardgame h3 {
  font-size: 1.2em;
}
.single-boardgame h5 {
  font-size: 1em;
}

.homepage-banner {
  height: 300px;
  position: relative;
  background-image: url('./board_game_shelf_shelves_analog_games_01-2.jpg');
  filter: blur(4px);
  -webkit-filter: blur(4px);
}


.jumbotron-image{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  border: 3px solid #f1f1f1;
  position: relative;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.jumbo-relative {
  position: relative;
  bottom: 80px;
}

.jumbotron-image p {
  font-size: 1.1em;
}

.boardgame-img img{
  margin-top: 40px;
  max-width: 280px;
  max-height: 400px;
}

.boardgame-img {
  height: 500px;
}

.game-desc {
  text-align: left;
}

.boardgame-info{
  margin-top: 40px;
  text-align: left;
}

.please-give-rules img{
  height: 10px;
  width: 10px;
}

.page-info{
  text-align: center;
  width: 100%;
}

.page-info h4{
  text-align: center;
}
.page-info img{
  width: 15px;
  height: 15px;
}

.error-body { 
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
  height: 90vh;
  display: flex;
}
.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top:15px;
  margin-bottom:15px;
}
.error-actions .btn { 
  margin-right:10px; 
}

.search-results-body {
  margin-top: 20px;
}

.game-rules{
  margin-top: 20px;
}

.large-screen {
  display: block;
}

.small-screen {
  display: none;
}

.rulebook-list {
    background-color: rgb(218, 216, 216);
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: white;
    text-align: left;
}

.rulebook-link  {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 5px;
  margin: 5px;
  height: 300px;
}

.game-name{
  font-size: 2.5em;
  margin: 5px;
}
.game-year{
  font-size: 1.4em;
  font-weight: bold;
  margin: 5px;
}

.game-data{
  border: 1px solid black;
  background-color: lightgray;
  margin-bottom: 10px;
}

.game-data span{
  display: block;
}

.rules-header{
  color: black;
}


@media (max-width: 900px) {

  .navbar-links li{
    text-align: left;
  }

  .auto-complete{
    position: absolute;
    padding-inline-start: 0;
    margin-bottom: 0;
    top: 46px;
    left: 1px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    background-color: white;
  }

  .jumbotron-image{
    width: 70%;
  }
  .jumbotron-image h1 {
    font-size: 1.7em;
    font-weight: bold;
  }

  .jumbotron-image p {
    font-size: 1em;
  }

  .homepage-banner {
    height: 250px;
 }

 .single-boardgame img {
  height: 45%;
  max-width: 105%;
  /* width: 100%; */
}

.boardgame-img img{
  width: 130px;
}

.boardgame-img {
  height: 350px;
}

.boardgame-info h1{
  font-size: 1.5em;
  text-align: center;
}

.boardgame-info h3{
  font-size: 1.5em;
  text-align: center;
}



.large-screen {
  display: none;
}

.small-screen {
  display: block
}

.game-rules a{
  font-size: 0.98em;
}
}

@media (max-width: 768px) {
  .page-info {
    text-align: center;
    margin-bottom: 50px;
  }

  .page-info h3 {
    text-align: center;
  }

  
}

